:root {
  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: ;

  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --crl-red-1: #f48080;
  --crl-green-1: #d3f9d8;
  --crl-blue-1: #d0ebff;
  --crl-blue-4: #4dabf7;
  --crl-yellow-1: #fff3bf;
  --crl-gray-1: #f1f3f5;
  --crl-gray-4: #ced4da;
  --crl-lime-1: #e9fac8;
  --crl-cyan-1: #c5f6fa;
  --crl-violet-1: #e5dbff;
  --crl-grape-1: #f3d9fa;
  --crl-orange-1: #ffe8cc;
  --crl-teal-1: #c3fae8;
  --crl-pink-1: #ffdeeb;
  --crl-indigo-1: #dbe4ff;

  --crl-white: #fff;
  --crl-light-gray: #abafaa;
  --crl-gray: hsl(216, 12%, 22%);
  --crl-light-dark: hsl(213, 19%, 18%);
  --crl-dark: hsl(216, 12%, 8%);

  --border-radius-1: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
  line-height: 1.5;
  background-color: #5c5c5c;
}

img,
svg,
picture {
  max-width: 100%;
  height: auto;
  font-style: italic;
  shape-margin: 1rem;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
  background-color: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
  text-transform: capitalize;
}

#loading-spinner {
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.heading-secondary {
  color: var(--crl-gray);
  font-size: 2.6rem;
  text-align: center;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grass {
  background: radial-gradient(
    circle,
    hsla(128, 76%, 90%, 1) 0%,
    hsla(132, 52%, 35%, 1) 100%
  );
}

.fire {
  background: radial-gradient(
    circle,
    hsla(0, 100%, 95%, 1) 0%,
    hsla(0, 65%, 48%, 1) 100%
  );
}

.water {
  background: radial-gradient(
    circle,
    hsla(206, 100%, 91%, 1) 0%,
    hsla(209, 75%, 38%, 1) 100%
  );
}

.electric {
  background: radial-gradient(
    circle,
    hsla(49, 100%, 87%, 1) 0%,
    hsla(31, 100%, 45%, 1) 100%
  );
}

.ground {
  background: radial-gradient(
    circle,
    hsla(210, 17%, 95%, 1) 0%,
    hsla(210, 11%, 15%, 1) 100%
  );
}

.bug {
  background: radial-gradient(
    circle,
    hsla(80, 83%, 88%, 1) 0%,
    hsla(85, 84%, 32%, 1) 100%
  );
}

.normal {
  background: radial-gradient(
    circle,
    hsla(185, 84%, 88%, 1) 0%,
    hsla(189, 85%, 28%, 1) 100%
  );
}

.poison {
  background: radial-gradient(
    circle,
    hsla(257, 100%, 93%, 1) 0%,
    hsla(255, 53%, 50%, 1) 100%
  );
}

.fairy {
  background: radial-gradient(
    circle,
    hsla(287, 77%, 92%, 1) 0%,
    hsla(288, 54%, 40%, 1) 100%
  );
}

.fighting {
  background: radial-gradient(
    circle,
    hsla(33, 100%, 90%, 1) 0%,
    hsla(17, 87%, 45%, 1) 100%
  );
}

.psychic {
  background: radial-gradient(
    circle,
    hsla(160, 85%, 87%, 1) 0%,
    hsla(162, 88%, 26%, 1) 100%
  );
}

.rock {
  background: radial-gradient(
    circle,
    hsla(336, 100%, 94%, 1) 0%,
    hsla(339, 69%, 38%, 1) 100%
  );
}

.ghost {
  background: radial-gradient(
    circle,
    hsla(225, 100%, 93%, 1) 0%,
    hsla(230, 57%, 50%, 1) 100%
  );
}

.ice {
  background: radial-gradient(
    circle,
    hsla(209, 75%, 38%, 1) 0%,
    hsla(230, 57%, 50%, 1) 100%
  );
}

.dragon {
  background: radial-gradient(
    circle,
    hsla(210, 11%, 15%, 1) 0%,
    hsla(210, 14%, 83%, 1) 100%
  );
}
