/********* NAV BAR **********/

.main-nav {
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin: 3rem 2rem;
}

.nav-search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--crl-light-gray);
  border-radius: 50vw;
  padding: 1rem 3rem;
  width: 50%;
  background-color: var(--crl-white);
}

.nav-search-bar:hover,
.nav-search-bar:active {
  box-shadow: 1px 1px 6px var(--crl-red-1);
  transition: border 0.3s, box-shadow 0.3s;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.nav-search-bar input {
  border: none;
  outline: none;
  font-size: 1.8rem;
  width: 100%;
}

.nav-search-bar input::placeholder {
}

.pokeball {
  position: absolute;
  top: -80%;
  right: -1%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(
      white 12px,
      var(--crl-light-gray) 13px 22px,
      transparent 23px
    ),
    linear-gradient(
      to bottom,
      white 0 50px,
      var(--crl-light-gray) 49px 65px,
      white 66px 100%
    );
  border: 18px solid var(--crl-light-gray);
  box-shadow: inset -16px -8px 0 0 rgba(173, 173, 173, 0.2);
  z-index: -1;
  transform: rotate(35deg);
}

/********* MAIN INDEX **********/

.section-index {
  grid-template-columns: repeat(auto-fill, 27.5rem);
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  margin: 1rem;
  background-color: #474747;
  border-radius: var(--border-radius-1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.index-card {
  min-width: 100%;
  min-height: 100%;
  border-radius: var(--border-radius-1);
  padding: 1rem 2rem;
}

.index-card img {
  width: 200px;
}

/********* CARD **********/

.section-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.card-pokemon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  background-color: var(--crl-white);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 2px solid var(--crl-light-gray); /* Add a border */

  transition: transform 0.3s ease-in-out;
}

.card-pokemon img {
  width: 75%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pokemon-title {
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-number {
  font-size: 1rem;
}

.pokemon-type {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.pokemon-type-color {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.6rem 1.4rem;
  text-transform: uppercase;
  color: var(--crl-gray);
  font-weight: var(--fw-semi-bold);
  border-radius: var(--border-radius-1);
}

.pokemon-about {
  padding: 1rem;
  font-size: 1.6rem;
}

.pokemon-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f1f1f1;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

/* Add a close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #555;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

.close-button:hover {
  color: #333;
}

/* Adjustments for a better mobile experience */
@media screen and (max-width: 480px) {
  .card-pokemon {
    max-width: 300px;
  }
}
