/********* NAV BAR **********/

.main-nav {
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin: 0 2rem;
}

.nav-search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--crl-light-gray);
  border-radius: 50vw;
  padding: 1rem 4rem;
  width: 50%;
}

.nav-search-bar:hover,
.nav-search-bar:active {
  border: none;
  box-shadow: 1px 1px 6px var(--crl-red);
}

.search-icon {
  width: 20px;
  height: 20px;
}

.nav-search-bar input {
  border: none;
  outline: none;
  font-size: 1.8rem;
}

.nav-search-bar input::placeholder {
  color: var(--crl-light-gray);
}

.pokeball {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(
      white 12px,
      var(--crl-light-gray) 13px 22px,
      transparent 23px
    ),
    linear-gradient(
      to bottom,
      white 0 50px,
      var(--crl-light-gray) 49px 65px,
      white 66px 100%
    );
  border: 18px solid var(--crl-light-gray);
  box-shadow: inset -16px -8px 0 0 rgba(173, 173, 173, 0.2);
  transform: rotate(35deg);
}

/********* MAIN INDEX **********/

.section-index {
  grid-template-columns: repeat(auto-fill, 30.2rem);
  grid-auto-rows: 350px;
  place-items: center;
}

.index-card {
  background-color: var(--crl-light-gray);
}

/********* CARD **********/

.section-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.card-pokemon {
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  background-color: var(--crl-light-green);
  padding: 2rem;
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pokemon-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-number {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  border-radius: 100vh;
  background-color: var(--crl-green);
  font-weight: var(--fw-bold);
}

.pokemon-type {
  display: flex;
  gap: 1rem;
}

.card-pokemon picture {
  display: grid;
  place-items: center;
}

.pokemon-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
