/********* NAV BAR **********/

.main-nav {
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.nav-search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--crl-light-gray);
  border-radius: 50vw;
  padding: 2rem 4rem;
  width: 50%;
}

.nav-search-bar:hover,
.nav-search-bar:active {
  border: none;
  box-shadow: 1px 1px 6px var(--crl-red);
}

.search-icon {
  width: 20px;
  height: 20px;
}

.nav-search-bar input {
  border: none;
  outline: none;
  font-size: 1.8rem;
}

.nav-search-bar input::placeholder {
  color: var(--crl-light-gray);
}

.pokeball {
  display: block;
  right: 0%;
  top: 0%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(
      white 12px,
      var(--crl-light-gray) 13px 22px,
      transparent 23px
    ),
    linear-gradient(
      to bottom,
      white 0 50px,
      var(--crl-light-gray) 49px 65px,
      white 66px 100%
    );
  border: 18px solid var(--crl-light-gray);
  box-shadow: inset -16px -8px 0 0 rgba(173, 173, 173, 0.2);
  transform: rotate(35deg);
}

/********* MAIN INDEX **********/

.section-index {
  grid-template-columns: repeat(auto-fill, 30.2rem);
  grid-auto-rows: 150px;
  place-items: center;
}
